In [1]:
import pandas as pd

In [8]:
metadata = pd.read_csv('./Movie data/movies_metadata.csv')

metadata.head()

c:\users\dell\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [17]:
from sklearn.utils import shuffle
print(metadata.columns)
print(metadata.shape)
metadata1 = shuffle(metadata)

metadata1 = metadata1[:2000]
# metadata1.head()

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')
(45466, 24)

In [18]:
c = metadata1['vote_average'].mean()

In [19]:
c

5.5798499999999995

In [20]:
metadata1[['title','vote_count']].head(10)

                                                   title  vote_count
17206                                Let the Bullets Fly        65.0
40739  Duell der BrÃ¼der - Die Geschichte von Adidas u...        10.0
33558                                Death of a Salesman         0.0
12794                                       Water Lilies        54.0
33495                                           The Take        22.0
41601             Perry Mason: The Case of the Lost Love         2.0
12281                   W.R. - Mysteries of the Organism        14.0
44134                                         Caravaggio         3.0
42433                                   Lost in Florence        10.0
39194                                      Gangnam Blues        18.0

In [22]:
m = metadata1['vote_count'].quantile(0.90)
print(m)

148.10000000000014

In [24]:
q_movies = metadata1.copy().loc[metadata1['vote_count']>=m]
q_movies.shape

(200, 24)

In [25]:
def weighted_rating(x, c=c,m=m):
    v = x['vote_count']
    R = x['vote_average']
    
    return (v/(v+m) * R)+ (m/(m+v)*c)

In [26]:
metadata1.shape

(2000, 24)

In [27]:
q_movies['score'] = q_movies.apply(weighted_rating,axis=1)

In [28]:
q_movies = q_movies.sort_values('score',ascending=False)

In [24]:
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

                                 title  vote_count  vote_average     score
314           The Shawshank Redemption      8358.0           8.5  8.445869
834                      The Godfather      6024.0           8.5  8.425439
10309      Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
12481                  The Dark Knight     12269.0           8.3  8.265477
2843                        Fight Club      9678.0           8.3  8.256385
292                       Pulp Fiction      8670.0           8.3  8.251406
522                   Schindler's List      4436.0           8.3  8.206639
23673                         Whiplash      4376.0           8.3  8.205404
5481                     Spirited Away      3968.0           8.3  8.196055
2211                 Life Is Beautiful      3643.0           8.3  8.187171
1178            The Godfather: Part II      3418.0           8.3  8.180076
1152   One Flew Over the Cuckoo's Nest      3001.0           8.3  8.164256
351                       Forrest Gump      8147.0           8.2  8.150272
1154           The Empire Strikes Back      5998.0           8.2  8.132919
1176                            Psycho      2405.0           8.3  8.132715
18465                 The Intouchables      5410.0           8.2  8.125837
40251                       Your Name.      1030.0           8.5  8.112532
289             Leon: The Professional      4293.0           8.2  8.107234
3030                    The Green Mile      4166.0           8.2  8.104511
1170                        GoodFellas      3211.0           8.2  8.077459

In [29]:
metadata1['overview'].head(10)

17206    Set in China during the Warlords Period of the...
40739                                                  NaN
33558    An aging salesman is fired from his job after ...
12794    Set during a sultry summer in a French suburb,...
33495    Freddie Jackson is just out of prison. He's do...
41601    Perry must defend the husband of an old flame ...
12281    A dense film that cuts up footage of a primary...
44134                                                  NaN
42433    Eric Lazard is a heartbroken former college fo...
39194    A "gangster noir" set in the 1970s, when Gangn...
Name: overview, dtype: object

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

metadata1['overview'] = metadata1['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data

tfidf_matrix = tfidf.fit_transform(metadata1['overview'])

tfidf_matrix.shape

(2000, 14994)

In [33]:
#Array mapping from feature integer indices to feature name.
tfidf.get_feature_names()[5000:5010]

['feedback',
 'feeding',
 'feeds',
 'feel',
 'feeling',
 'feelings',
 'feels',
 'feet',
 'fei',
 'feinstadt']

In [34]:
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [44]:
# for i in cosine_sim[2]:
#     print(i,end=" ")
cosine_sim[2]

array([0.        , 0.        , 1.        , ..., 0.        , 0.        ,
       0.02616475])

In [45]:
cosine_sim.shape

(2000, 2000)

In [49]:
metadata1[['title']].head(5)

                                                   title
17206                                Let the Bullets Fly
40739  Duell der BrÃ¼der - Die Geschichte von Adidas u...
33558                                Death of a Salesman
12794                                       Water Lilies
33495                                           The Take

In [50]:
#Construct a reverse map of indices and movie titles

indices = pd.Series(metadata1.index,index=metadata1.title).drop_duplicates()

In [56]:

def get_reccomendations(title,cosine_sim=cosine_sim):
    idx = indices[title]
    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]
    
    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    
    return metadata1['title'].loc[movie_indices]

In [73]:
get_reccomendations('The Nativity')
# indices['The Nativity']

IndexError: index 25540 is out of bounds for axis 0 with size 2000

In [76]:
indices.shape

(2000,)